{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Es - ATM System</title>
</head>

<body>
    <header>
        <div class="bg-dark">
            <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'index'%}"><img src="{% static 'assets/images/atm.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <p class="nav-link">hello! {{ details.first_name }} {{ details.last_name }} </p>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link">Total Amount :{{ details.balance }}</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'deposit'%}">Deposit cash</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout'%}">logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section id="interface">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="interface-head text-center mb-5">
                        <h1>EssentialSofts Bank</h1>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 offset-lg-1 offset-md-1">
                    <div class="quick-amount box mb-5">
                        <a href="{% url 'quickamount'%}">
                            <h2>Quick Amount</h2>
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="amount box mb-5">
                        <a href="{% url 'amount'%}">
                            <h2>Amount</h2>
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 offset-lg-1 offset-md-1">
                    <div class="balance-inquiry box mb-5">
                        <a href="{% url 'balanceinq'%}">
                            <h2>Balance Inquiry</h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="get-help box mb-5">
                        <a href="{% url 'gethelp'%}">
                            <h2>Get Help</h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-8 offset-lg-4 offset-md-4 offset-2">
                    <div class="log-out box">
                        <a href="{% url 'logout'%}">
                            <h2>Log Out</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copyright-area">
                        <a href="#">&#169; 2020. All Rights Reserved by <a href="https://www.essentialsofts.com"><span style="color: #0087b4; text-decoration: underline;">EssenialSofts</span></a></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="terms-area">
                        <a class="mr-3" href="#">Terms & Conditions</a>
                        <span> | </span>
                        <a class="ml-3" href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/jquery.js' %}">
    </script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/all.js' %}"></script>
</body>

</html>