{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Intro Template</title>
</head>

<body>
    <header>
        <div class="bg-dark">
            <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img src="{% static 'assets/images/atm.png' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="sign-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="sign-in-img">
                        <img src="{% static 'assets/images/signin-image.jpg' %}">
                    </div>
                    <div class="create-acc text-center mt-3">
                        <a href="#">Create An Account</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="sign-in form mt-5">
                        <div class="signin-head mb-5">
                            <h1>Sign In</h1>
                        </div>
                        <div class="signin-area">
                            <form id="signin-form" action="{% url 'signin'%}" method="POST">
                                {% csrf_token%}
                                <i class="user fas fa-user"></i>
                                <input type="text" class="form-control mb-3" name="username" id="username" placeholder="Your Username" required>
                                <input type="password" class="form-control" name="pass" id="pass" placeholder="Password" required>
                                <i class="lock fas fa-lock"></i>
                                <div class="signin-box mt-3">
                                    <input type="checkbox" class="form-control" name="signin-checkbox" id="signin-checkbox" required><span class="ml-3">Remember Me</span>
                                </div>
                                {% for message in messages%}
                                <p style="color: red;">{{message}}</p>
                                {%endfor%}
                                <div class="signin-btn mt-3">
                                    <button type="submit" class="btn w-50">Log In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copyright-area">
                        <a href="#">&#169; 2020. All Rights Reserved by EssenialSofts</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="terms-area">
                        <a href="#">Terms & Conditions</a>
                        <span> | </span>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/jquery.js' %}">
    </script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/all.js' %}"></script>
</body>
</body>

</html>